# Only put secret stuff here that you don't want in the repo
# This file must be manually transferred and updated for each installation but it will hopefully
# almost never change.

SECRET_KEY = "changemeyF2dqOTjuuYYEu0kELNtvH6Q1U4DlwyW5oJeNIRdT8Hpmfa6ab35wQwz66cD93L0"
NEVERCACHE_KEY = "changemeLjAY4yr11jlP4UsBCyEOgp74Mxk5KtmYAiJ7wiSSd5lQUpLl9AbMHNUFDuIAPYyt"
DBPASSWORD = "changemeOxEmeuXBV4"